<div class="container">
    <h1>Sign Up</h1>
    <p>Please fill the below fields.</p>
    <div class="success_flash">
      <%= flash[:success]%>
    </div>
    <div class="error_flash">
      <%= flash[:error]%>
    </div>

    <%= bootstrap_form_for(@user) do |form| %>
      <p>
        <%= form.text_field :first_name %>
      </p>
      <p>
        <%= form.text_field :last_name %>
      </p>
      <p>
        <%= form.email_field :email %>
      </p>
      <p>
        <%= form.password_field :password%>
      </p>
      <p>
        <%= form.submit "Sign Up", class: "btn btn-primary" %>
      </p>
    <% end %>
  </div>
