<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet">

    <div class="container">
      <nav class="navbar bg-light">
        <div>
          <a class="navbar-brand text-dark" href="/">
            <img src="https://image.flaticon.com/icons/svg/2743/2743184.svg" width="40" height="40" alt="logo">
            PostBox
          </a>
        </div>
        <div>
          <ul class="nav nav-pills justify-content-end">
              <li class="nav-item">
                <a class="nav-link text-danger" href="/home/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="/users/signup">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="/users/signin">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="/users/destroy">Sign out</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
